<!DOCTYPE html>
<html ng-app="app">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
	<script type="text/javascript" src="rankings.js"></script>
	<script type="text/javascript" src="script.js"></script>

</head>
<body ng-controller="rankingsController">
	<div class="main-container">
		<h1>StarCraft Rankings</h1>
		<h3>Construct Additional Pylons</h3>
		<div ng-controller="tableController">
			<table>
				<tr>
					<th ng-repeat="col in cols" ng-bind="col"></th>
				</tr>
				<tr ng-repeat="row in data | limitTo : 20 : activePlayer">
					<td ng-repeat="datum in row" ng-bind="datum"></td>
				</tr>
				<div class="left-buttons">
					<input type="button" value="first" ng-click="goToFirstPage()"></input>
					<input type="button" value="prev" ng-click="decrementPage()"></input>
				</div>
				<div class="right-buttons">
					<input type="button" class="button-right"value="next" ng-click="incrementPage()"></input>
					<input type="button" value="last" ng-click="goToLastPage()"></input>
				</div>
			</table>
		</div>
	</div>

</body>
</html>