body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
ul {
  margin: 0px;
}
table {
  width: 600px;
  margin-left: 40px;
  margin-top: 10px;
}
table tr {
  width: 124px;
  line-height: 15px;
  border: 1px solid #000;
}
table td,
table th {
  border: 1px solid #000;
  padding: 10px;
}
.main-container {
  padding-left: 50px;
  padding-bottom: 50px;
  width: 675px;
}
.buttons {
  display: inline-block;
  width: 100px;
}
.buttons input {
  display: inline-block;
}
.right-buttons {
  float: right;
}
.page-numbers {
  display: inline-block;
  width: 170px;
}
.page-numbers a {
  margin: 10px;
}
.stat-box {
  float: right;
  width: 500px;
  background-color: #95a5a6;
}
