body {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
ul {
  margin: 0px;
}

table
	width 600px
	margin-left 40px
	margin-top 10px
	tr
		width 124px
		line-height 15px
		border 1px solid black
	td,th
		border 1px solid black
		padding 10px

.main-container
	padding-left 50px
	padding-bottom 50px
	width 675px

.buttons
	display inline-block
	width 100px
	input
		display inline-block

.right-buttons
	float right

.page-numbers
	display inline-block
	width 170px
	a
		margin 10px

.stat-box
	float right
	width 500px
	background-color #95a5a6